/*pa*/
.iconop, .iconop i{ font-size: 23px;padding: 5px;font-weight:100!important;margin-top:-5px;}
.iconopl {width: 52px;font-size: 7px;text-transform: uppercase;margin:0px 6px 15px 6px;
letter-spacing: 1px;padding-top: 3px;font-weight:600;} 
.bord {width:755px;margin-bottom:5px;margin-top:-7px;padding-top:10px;}
.jac1 {background-color:var(--jac);} .hwa1 {background-color:var(--hwa);} .eop1 {background-color:var(--eop);} 
.mal1 {background-color:var(--mal);} .dal1 {background-color:var(--dal);}
.jac1, .hwa1, .eop1, .mal1, .dal1 {border-radius:2px;height:3px;}
.bjj {width:105px;height:3px;padding:0px;}
.ddd {width:105px;padding:2px 0px 2px 0px;}
hg {font-weight:600;font-size: 7px;text-transform: uppercase;  letter-spacing: 2px;}
.lol {text-align:left;width:90px;}
.lal {margin-left:7px;margin-right:0px;}
.bloctr {width:320px;margin-right:-5px;height:70px;padding: 7px;background-clip: padding-box;background: red; 
font-size:11px;text-align:justify;line-height:112%;overflow:auto;}
.whyy {text-transform:uppercase;text-align:center;height:5px;font-size: 10px!important;letter-spacing:2px;font-weight:500;}
.imgf {width:26px;height:26px;border-radius:100%;padding:6px;margin-right:3px; 
 transition-delay:0s;-webkit-transition-delay: 0s;position:relative;float:left;}
.imgsc {border-radius:100%;width: 26px;height: 26px; position:relative;top:0;left:0;z-index:1;}
.imgsc * {-webkit-box-sizing: border-box; box-sizing: border-box;}
.imgsc img { width:26px;height:26px;object-fit: cover;border-radius:100%; position: relative; opacity: 0.2;
  -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.llns {padding-bottom:5px;width:200px;height:6px;position:relative;float:left;margin-right:15px;} 
.llns a{font-size: 7px;text-transform: uppercase;letter-spacing:2px;font-weight:700;}

